// Variables

// Colors
$dark-cyan: #327b9a;
$cyan: #29abe2;
$orange: #fd8124;
$light-blue: #ebf7fc;
$white: #fff;
$gray: #9b9b9b;

$fa-font-path: '~font-awesome/fonts';

// font weights
$regular: 400;
$semi-bold: 600;
$bold: 700;
